<!DOCTYPE html>
<html>
<head>
	<title>Sentient</title>
</head>
<body>
	<h1>Sentient</h1>
	<form action="/" method="GET">
		<p>What phrase would you like to analyze?</p>
		<input type="text" name="phrase" />
		<input type="submit" name="submit" />
	</form>
</body>
</html>